.cajaformu{
    background-color: brown;
    padding: 1%;
    height: max-content;
    width: max-content;
    border-radius: 30%;
    margin: 18%;
    font-size: xx-large;

}
.contenido{
    margin-top: 10%;
    margin-bottom:10%;
}
